/* Small only */

@media screen and (max-width: 39.9375em) {
    
    
    .top-bar {
        padding: 0.5rem 0 !important; 
   background-color:#000!important;
    }
    
    .top-bar-left {
        text-align:center;
        width: 100%;
    }
    
    .top-bar-right {
        text-align:center;
    }
    
    .menu > li > a {
        padding: 5px 10px !important;
        font-size:0.8em;
    }
        
    
    .intro-text {
      
        display:none;
    }
    
    .intro {
        height:500px;
    }
    
    .owl-carousel {
        margin-top: 0 !important;
    }

    
    
    
    header .logo-white {
        width: 50%;
    }
}



/*SMALL-LANDSCAPE*/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {}



/* Medium and up */

@media screen and (min-width: 40em) {
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    
    
    header .logo-white {
        width: 50%;
    }
    
    .owl-carousel {
        margin-top: -140px !important;
    }
    
    
    .top-bar-left {
       text-align:left;
        
    }
    
    .top-bar-right .menu {
        padding-top:0.5rem;
    }
    
   
    .intro-text {
       display:none;
    }
     
}



/*medium-landscape**/


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
}


/* Large and up */

@media screen and (min-width: 64em) {
    
   
    
    .menu-icon {
        display: none;
    
    
    }
    
}


/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}



/*1024-1375 */

@media screen and (min-width:1024px) and (max-width:1375px) 
{
}
    


