{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expanded 5.0/De La Warr Pavilion</title>
     <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.css">
  
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>
  </head>
  
 

  <body>
  {{> header}}
 
   
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    
    
  
    {{> body}}

      {{> footer}}
      

   <script src="/assets/js/app.js"></script>
   <script src="/assets/owl.js"></script>
   <script>$('.owl-carousel').owlCarousel({
    loop:true,
    
    items:1,
    
    autoplay:true,
    animateOut: 'fadeOut'
    
    
});</script>
  
  
 
   
   
   
    
  </body>
    
</html>